/*
 * Base structure
 */

body {
  padding-top: 50px;
  font-family: "Helvetica Neue", Helvetica, sans-serif !important;
}


#site-header{
  background-color: #e1e9f7;
  height: 80px;
}
a.navbar-brand{
  margin:0;
  padding:0px 0px 0px 5px;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
 .navbar-brand{
  color : #4f4f4f !important;
  font-weight: 700;
  font-size: 33px;
  letter-spacing: 0.07em;
 }
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

.main-app{
  color : #666;
}

.sidebar{
  padding:0px;
  background-color: #E3EDF7;
}

.sidebar form{
  background-color: #88AEF6;
  padding:15px;
}

.sidebar h3{
  letter-spacing: -.02em !important;
  color:#fff;
}

#direction-mode{
  background-color: #6997F4;
}
#direction-mode a{
  color:#fff !important;
}
#direction-mode a:hover{
  color:#6997F4 !important;
}
#direction-mode li.active a{
  color:#6997F4 !important;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 81px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    /*padding: 15px;*/
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 15px !important;
  top : 31px;
}
.go-btn{
  background-color: #f39323;
  color : #fff ;
  font-weight: 500;
}
.go-btn:hover , .go-btn:focus, .go-btn:active{
  /*background-color:#ed7e00;*/
  color : #fff ;
  outline: none !important;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

#map {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgb(229, 227, 223);
}

/* push css */
.push-10px-bottom{
  margin-bottom: 10px;
}

/* Map Directions*/
.adp-placemark{
  margin-top : 0px !important;
  margin-bottom : 0px !important;
  height: 50px;
  border: none !important;
  color: #fff !important;
  font-weight: 400 !important;
  background-color: #6997F4 !important;
}
.adp-placemark tr>td{
  padding: 0px 5px !important;
}
.adp-summary{
  padding-top: 2px !important;
  color: #fff;
  font-weight: 500;
  padding-left: 10px !important;
  background-color :#2a6bed;
}
.adp-legal{
  background-color: #E3EDF7;
}

table.adp-directions{
  background-color:#F2F5FA;
  width: 100%;
}
table.adp-directions tr{
  height: 43px;
  padding-left: 10px !important;
  border:none !important;
}

td.adp-substep {
  vertical-align : middle;
  font-weight: 400;
  border:none !important;
}